<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <div>
            <span> 추출된 로또 번호는 <%= @sorted %> 입니다. </span>
        </div>
    </body>
</html>

<a href="/lotteries/second"> go to second </a>

<form action="/lotteries/second" method="get">
    이름 : <input type="text" name="name"> <br>
    주소 : <input type="text" name="addr"> <br>
    숫자 : <input type="number" name="number"> <br>
    <input type="submit" value="보내기">
</form>